{% extends 'base.html' %}
{% block body %}
<div class="container center">
	<form action="/summoner-search" method="get" role="form" id="player-search">
		<input class="form-control form-control-inline" type="text" id="summoner-name" name="summoner" placeholder="Enter Summoner Name" required autofocus />
	</form>
	<button class="btn btn-primary" form="player-search" type="submit">Search</button>
</div>
<div class="container center">	
	<p>Don't know any Summoners? Try searching these players!</p>
	<table class="table table-striped table-bordered table-condensed">
		<tr>
			<td>Doublelift</td>
			<td>aphromoo</td>
			<td>Xpecial</td>
		</tr>
		<tr>
			<td>imaqtpie</td>
			<td>Lolily</td>
			<td>Pobelter</td>
		</tr>
	</table>
</div>
{% endblock %}