{% extends "matchlist.html" %}
{% block matchlist %}
{% for key in summoner %}
	{% set name = summoner[key].name %}
	<h2 id="name">Match History for {{name}}</h2>
	{% for match in matchHist.games %}
	<a href="/match-data/{{name}}/{{match.gameId}}">
		<div class='container' id="match-{{loop.index}}">
			{% set champion = match.championId.name %}
			{% set stats = match.stats %}
			<p>Game started at: {{match.createDate|localDate}}</p>
			<p>Game mode: {{match.subType}}</p>
			<p>{{champion}}</p>
			<img src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/champion/{{champion}}.png"/>
			<p>KDA: {{stats['championsKilled'] or 0}}/{{stats['numDeaths'] or 0}}/{{stats['assists'] or 0}}</p>
		</div>
	</a>
	{% endfor %}
{% endfor %}
{% endblock %}
