<html lang="en">
	<head>
		<link rel = "stylesheet" href = "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"></link>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="static/js/matchlisting.js"></script>
	</head>
	<h2 id="name"></h2>
	<div id="listing">
		{% block matchlist %}
		{% endblock %}
	</div>
	<script type="text/javascript">
		var summoner = {{summoner|tojson}};
		$('#name').text('Recent Match History for ' + summoner[Object.keys(summoner)[0]].name);
		var matchHistory = {{matchHist|tojson}};
	</script>
</html>