<html lang="en">
	<head>
		<link rel = "stylesheet" href = "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"></link>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="static/js/script.js"></script>
	</head>

	<body>
		<div class="container">
			<form class="form-signin" action="/signUp" method="post" role="form">
				<h2 class="form-signin-heading">TELL ME YA LOGIN</h2>
				<input type="email" id="txtUser" name="username" class="form-control" placeholder="Email Address" required autofocus />
				<input type="password" id="textPass" name="password" class="form-control" placeholder="Password" required />
				<button class="btn btn-lg btn-primary btn-block" type="button">REGISTER</button>
			</form>
		</div>
		<div id="response-div"></div>
	</body>
</html>