.center {
	text-align: center;
}

figure {
	display: inline-block;
}

.overlay {
	fill: none;
	pointer-events: all;
}

div.match {
	padding: 10px 0;
}

div.row a {
	display: flex;
	align-items: center;
	text-decoration: none;
}

.focus circle {
	fill: none;
	stroke: steelblue;
}

div.game-overview {
	border-style: solid;
	border-width: 2px;
	margin: 5px auto;
}

svg {
	display: block;
	margin: auto;
}

.form-control-inline {
	min-width: 0;
	width: auto;
	display: inline;
}