.title, figure figcaption {
	text-align: center;
}

figure {
	display: inline-block;
}

.overlay {
	fill: none;
	pointer-events: all;
}

div.match {
	margin-bottom: 50px;
}

.focus circle {
	fill: none;
	stroke: steelblue;
}

svg {
	display: block;
	margin: auto;
}